@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
} */

.insta-background {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  opacity: 0.9;
}

/* https://youtu.be/ve8RhBfQ5wo */
* {
  margin: 0;
  padding: 0;
}
/* 
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.my-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
  /* padding: 10px; */
}

.my-container span {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0;
  padding: 2px;
}

.my-container span:nth-of-type(1) {
  grid-area: 1 / 1 / span 6 / span 6;
}

.my-container span:nth-of-type(2) {
  grid-area: 7 / 1 / span 1 / span 2;
}

.my-container span:nth-of-type(3) {
  grid-area: 7 / 3 / span 1 / span 2;
}

.my-container span:nth-of-type(4) {
  grid-area: 8 / 1 / span 2 / span 4;
}

.my-container span:nth-of-type(5) {
  grid-area: 7 / 5 / span 3 / span 2;
}

body {
  font: 500 1.5rem "Avenir Next", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  background: #e1e3e5;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.row.no-gutters {
  margin: -5px !important;
}

.row.no-gutters > * {
  padding: 5px !important;
}

.flipper {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

@media (min-width: 576px) {
  .ratio-not-1-1 {
    padding-bottom: calc(50% - 5px);
  }
}

.flipper-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flipper-front,
.flipper-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #c1c3c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper-back {
  background: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper-card.flipper-is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  /* width: 300px;
  height: 200px; */
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  /* width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
